body {
  margin: 0;
}

.app {
  text-align: center;
}

.header {
  background-color: #4DACE8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.header-links {
  margin: 10px 100px;
}
